################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/PeToolKitV2.vcxproj.user
/PeToolKitV2.vcxproj.filters
/PeToolKitV2.vcxproj
/Debug
